/* Global Container */

.liquidDesign #globalContainer {
    width: 80% !important;
}

.liquidDesign.sidebarDisplay.sidebarMode #globalContainer {
    width: calc(90% - 206px) !important;
}

.liquidDesign:not(.sidebarDisplay) #globalContainer {
    padding-right: 0 !important;
}

/* Header */

#fbCoverImageContainer {
    overflow-x: hidden;
}

/* Left Column */

#leftCol.fixedTop {
    position: fixed !important;
    /* top: 43px; specify by code */
    bottom: auto;
}

#leftCol.fixedBottom {
    position: fixed !important;
    top: auto !important;
    bottom: 0;
}

.navHeader {
    border-bottom: solid 1px #90949c;
    margin-bottom: 4px !important;
}

.tinyWidth .sideNavItem ._5afe {
    margin-left: 0 !important;
}

/* Right Column */

#rightCol {
    width: 100% !important;
    clear: right;
    margin-bottom: -16px;
    display: none;
}

.trendingDisplay #rightCol {
    display: block;
}

#rightCol .fixed_elem {
    position: static !important;
    width: auto !important;
}

#rightCol .fixed_elem + div {
    height: 0 !important;
}

.newsFeedComposer .home_right_column {
    min-height: 0 !important;
}

.groups_rhc .uiBoxWhite {
    border: none !important;
}

#pagelet_ego_pane,
#rhc_work_feedback_pagelet,
#pagelet_rhc_footer {
    display: none;
}

#groupsNewMembersLink,
#admin_flyout_container,
.groups_rhc .groupRHCAddMemberTypeaheadBox,
.groups_rhc .groupsRHCSectionHeader h6,
.groups_rhc .groupsRHCSectionHeader + span {
    display: none;
}

.groups_rhc > div:not(:first-child),
.groups_rhc > div:first-child > div:first-child {
    display: none;
}

.groupsEditDescriptionArea .uiHeaderActions {
    margin-bottom: -12px !important;
}

#groupsDescriptionBox .groupsEditDescriptionText {
    width: 99% !important;
    height: 150px !important;
}

/* Content Area */

#contentArea {
    width: 100% !important;
}

/* Pagelet Sidebar */

#pagelet_sidebar {
    display: none;
}

.sidebarDisplay #pagelet_sidebar {
    display: block;
}

.sidebarMode:not(.sidebarDisplay) ._55fl {
    display: none !important;
}

#pagelet_sidebar ._55ob {
    cursor: pointer;
}

#pagelet_sidebar ._55ob:hover {
    background-color: #d8d6d4;
}

#pagelet_sidebar ._55oc > em::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    background-image: url('chrome-extension://__MSG_@@extension_id__/image/plus.png');
    background-size: cover;
    margin-right: 4px;
    margin-bottom: -1px;
}

#pagelet_sidebar .expandedList ._55oc > em::before {
    background-image: url('chrome-extension://__MSG_@@extension_id__/image/minus.png');
}

#pagelet_sidebar .fbChatOrderedList ul {
    display: none;
}

#pagelet_sidebar .fbChatOrderedList .expandedList > ul {
    display: block;
}

.fbChatSidebar ._4oes {
    background: transparent !important;
}

/* Profile */

.timelineLayout #mainContainer #contentArea {
    width: 1014px !important;
}

.liquidDesign .timelineLayout #mainContainer #contentArea {
    width: 100% !important;
}

.timelineLayout ._5nb8 {
    width: calc(100% - 323px - 15px) !important;
}

._4lh .fbTimelineTwoColumn[data-type="s"] {
    width: 100% !important;
}

.fbTimelineUnit.fbTimelineTwoColumn .timelineUnitContainer.fbTimelineComposerUnit {
    width: 100% !important;
}

/* Settings */

.SettingsPage.hasLeftCol #contentArea {
    padding: 0 !important;
}

/* "Recent Activity" and "Older" */

#contentArea div[role="heading"] {
    border-left: 4px solid #4267b2;
    margin: 28px 8px;
    padding: 2px 8px;
}

#contentArea div[role="heading"] span {
    color: #1d2129;
    font-size: 14px;
}

/* Trending Posts */

.singleLineTrending #pagelet_work_trending_rhc_unit ._4bl9 {
    margin-right: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Scroll to Top */

#scrollToTop {
    position: fixed;
    bottom: 0;
    right: 16px;
    padding-left: 8px;
    padding-bottom: 29px;
    display: none;
}

.sidebarMode #scrollToTop {
    right: auto;
    padding-bottom: 4px;
}

#scrollToTop a {
    text-decoration: none;
}

#scrollToTop i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/image/top.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#scrollToTop i:hover {
    background-position: -30px 0;
}

/* Expand All */

.expandAll {
    float: right;
    margin: -5px 20px 10px 10px;
}

.expandAll i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/image/plus.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Media Query */

@media (max-width: 1920px) { /* WUXGA */
}
@media (max-width: 1600px) { /* UXGA */
    .liquidDesign #globalContainer { width: 85% !important; }
    .liquidDesign.sidebarDisplay.sidebarMode #globalContainer { width: calc(95% - 206px) !important; }
}
@media (max-width: 1280px) { /* SXGA */
    .liquidDesign #globalContainer { width: 90% !important; }
}
@media (max-width: 1024px) { /* XGA */
    #globalContainer, .liquidDesign #globalContainer { width: 100% !important; }
    .timelineLayout #mainContainer #contentArea { width: 100% !important; }
}
@media (max-width: 800px) { /* SVGA */
}
@media (max-width: 640px) { /* VGA */
}
