.option {
    margin: 0 0.5em 1em;
}

.option.disabled {
    color: gray;
}

.option label {
    display: inline-block;
    width: 120px;
}

.option input[type="color"] {
    margin-left: 0.5em;
    vertical-align: middle;
}

#footer {
    text-align: right;
    padding: 0.5em 0.5em 0;
}

#status {
    color: green;
}

#footer button {
    margin-left: 0.5em;
}
